@import url('https://font.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

.league-gothic {
  font-family: League Gothic;
}

/* .gradient-text {
  background-image: linear-gradient(to right, #1e3a8a, #c2410c);
  -webkit-background-clip: text;
  color: transparent;
} */
